<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.sap.mp.cordova.plugins.e2etrace" version="3.5.5">
    <name>E2ETrace</name>
    <dependency id="com.sap.mp.cordova.plugins.xhook"/>
    <dependency id="com.sap.mp.cordova.plugins.corelibs"/>
    <dependency id="org.apache.cordova.inappbrowser"/>    
    <dependency id="com.sap.mp.cordova.plugins.logon"/>

    <js-module name="E2ETrace" src="www/e2etrace.js">
        <clobbers target="sap.E2ETrace"/>
    </js-module>
	
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/widget">
			<feature name="E2ETrace">
				<param name="android-package" value="com.sap.mp.cordova.plugins.e2etrace.E2ETrace"/>
			</feature>
		</config-file>
		<source-file src="android/libs/e2etrace-android-3.5.5.jar" target-dir="libs"/>
	</platform>
	<platform name="ios">
		<config-file target="config.xml" parent="/widget">
			<feature name="E2ETrace">
				<param name="ios-package" value="SMPE2ETracePlugin"/>
			</feature>
		</config-file>
		<source-file framework="true" src="ios/libs/libSMPE2ETracePlugin.a"/>
	</platform>
</plugin>
