<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="com.mobileiron.cordova.appconnect"
	version="2.1.0.56">
      
    <name>MobileIron AppConnect plugin for Cordova</name>
    <description>Use this pluging to develop Cordova/PhoneGap applications for MobileIron's AppConnect platform</description>
    <author>MobileIron</author>
<!--	<license></license> -->
    <keywords>MobileIron,AppConnect,Enterprise</keywords>
<!--    <repo>TBD</repo> -->

    <engines>
        <engine name="cordova" version=">=3.5" />
    </engines>

    <js-module src="www/AppConnectCordova.js" name="AppConnectCordova">
        <clobbers target="window.AppConnectCordova" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AppConnectCordovaPlugin">
                <param name="ios-package" value="AppConnectCordovaPlugin"/>
                <param name="onload" value="true" />
            </feature>
            <plugin name="AppConnectCordovaPlugin" value="AppConnectCordovaPlugin"/>
        </config-file>
        
        <source-file src="src/ios/libAppConnectCordovaPlugin.a" framework="true" compiler-flags="-force_load"/>
        <source-file src="src/ios/libcrypto.a" framework="true" compiler-flags="-force_load"/>
        <source-file src="src/ios/libProtocolBuffers.a" framework="true" compiler-flags="-force_load"/>
        <framework src="src/ios/AppConnect.framework" custom="true"/>
        <resource-file src="src/ios/AppConnect.framework/Resources/AppConnectResources.bundle"/>

        <!-- frameworks -->
        <framework src="Security.framework" />
        <framework src="LocalAuthentication.framework" />
    </platform>
    
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
        <array>
            <dict>
                <key>CFBundleURLName</key>
                <string>$PACKAGE_NAME</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>ac$PACKAGE_NAME</string>
                </array>
            </dict>
        </array> 
    </config-file>
</plugin>
