<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.sap.mp.cordova.plugins.toolbar" version="3.5.5">
    <name>Toolbar</name>
    <description>Cordova Toolbar Plugin</description>

    <info>
        For Android you need to modify the activity theme in the AndroidManifest.xml to be android:theme="@android:style/Theme.Holo.Light".  The minSdkVersion must also be changed to at least 11.
    </info>
    
    <js-module src="www/toolbar.js" name="toolbar">
        <clobbers target="window.sap.Toolbar" />
    </js-module>

    <!-- Android -->
	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="showTitle" value="true" />
                
            <feature name="toolbar">
                <param name="android-package" value="com.sap.mp.cordova.plugins.toolbar.Toolbar"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
		<source-file src="android/libs/toolbar-android-3.5.5.jar" target-dir="libs"/>
	</platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="toolbar">
                <param name="ios-package" value="SMPToolbarPlugin"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <source-file framework="true" src="ios/libs/libSMPToolbarPlugin.a"/>
    </platform>
</plugin>
