/* * {
 font-family: Arial !important;
 }*/

/* james */ /*html {-webkit-tap-highlight-color: rgba(173,210,234,1)}*/


body{background-image:none!important;background:none repeat scroll 0 0 #344753 !important;text-transfor: none !important;background-color: #344753 !important;}
.sap-desktop .sapMBar.sapMPageHeader{background-color:#0065A8}

.sapMListHdr,.sapMTB-Transparent-CTX .sapMLabel,.sapMLabel.sapMLabelTBHeader {text-shadow: none !important; }
.sapMBar.sapMPageHeader::before {
    border-top: none !important;
}

.sapMBar.sapMPageHeader,.sapMShellGlobalInnerBackground {
    background: none !important;
}
.sapMShellBrandingBar,.sapMShellGlobalOuterBackground {
    background-color: transparent !important;
    background-image: none !important;
}
.sapMTile {
    box-shadow: none !important;
    border: none !important;
}
.sapMTile:focus {
    outline: none !important;
    background:yellow;
}
.sapMTile.sapMTileActive {
    background:yellow !important;
}
/*lcmaintile:focus,sapMCustomTileContent:focus,sapMTileActive,sapMTileActive-CTX {
 background:yellow !important;
 }*/
header > div > div > label {
    font-size: 1.5rem !important;
    color: #dde5eb !important;
    font-family: Arial !important;
    text-transform: none;
    font-weight: bold !important;
}

.sapMText {
    text-transform: none !important;
}
.sapMListTbl .sapMText {
    padding-top: 1px;
    /* james */
    font-size: 1.8em !important;
    
    color: #333333;
    font-weight: normal;
    font-family: Arial !important;
}
.sapMBar {
    /*color: #FFF !important;
     background-color: transparent !important;*/
    background-color: #8ca9bb !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*.sapMBar:active,.scanLabel:active,quesLabel:active,canbtn:active,.quesBar > .sapMBarLeft:active,.sapMBtnContent:active{
 background: rgba(173,210,234,1) !important;
 
 }*/
.sapMBtnContent:active {background: rgba(173,210,234,1) !important;}

.activeTitle {
    background-color: rgba(173,210,234,1) !important;
}
/*.lcmaintile > .sapMCustomTileContent {
 margin-top: 140px !important;
 }*/
.sapMIBar-CTX.sapMFooter-CTX {
    background-color: #8ca9bb !important;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 4rem;
}

footer > button {
    background-color: #546c7d !important;
    width: 120px;
    height: 60px !important;
    border-radius: 10px;
    margin-right: 15px !important;
}
footer > button > div {
    font-family: Arial;
    font-size: 20pt !important;
    text-transform: none !important;
}

.jblLogo {
    margin-bottom: 28px;
    margin-left:10px;
}
#pageHdr1,#pageHdr2,#pageHdr3 {
    margin-top:18px;
    background-color: #546c7d !important;
    height:50px !important;
}
.welHdr {
    color: #fdcc65 !important;
    font-family: :Arial !important;
    /* james */
    font-size: 1.5em !important;
    margin-top: 10px
}
.subHdrBar {
    height: 1.5rem !important;
    background-color: #fff !important;
}
.eDataLabel {
    color: #8ca9bb !important;
    /* James */
    font-size: 3.5em !important;
    letter-spacing: -0.025em !important;
    /*margin-bottom: 140px !important;*/
    font-style: Arial !important;
}
#mainPanel,#poDetailPanel{
    margin-left:20px;
    margin-top:50px;
}
#poQslPanel {
    margin-top: 20px !important;
    margin-left:20px !important;
}
#eSignPanel {
    margin-left:40px !important;
    margin-right:40px !important;
    background-color: #8ca9bb !important;
    border-radius:10px !important;
    margin-top: 80px !important;
    position: relative;
    
}
#mainPanel > .sapMPanelBG,#poDetailPanel > .sapMPanelBG,#poQslPanel > .sapMPanelBG, #eSignPanelTxt > .sapMPanelBG {
    background-color: #344753 !important;
    padding-top:0px;
}
.sapMPanelBG {
    background-color: transparent !important;
}
#eSignPanelTxt {
    margin-left:40px !important;
    margin-top: 80px !important;
}

.lcTypeBar {
    background-color: #fff !important;
    height:5rem !important;
    border-radius: 10px;
}
.seqNo3 {
    top: 283px !important;
}
.seqNo4 {
    top:70px !important;
}
.quesBar {
    background-color:#8ca9bb !important;
    border-radius: 10px;
    border-color: #8ca9bb !important;
    height:90px !important;
    margin-top: 70px;
}
.lcTypeLabel {
    /*color:#5089ab !important;
     padding-left:30px !important;
     font-weight: bold !important;
     font-family: arial !important;
     font-size: 1.5rem !important;
     margin-top:20px !important;*/
    
    color:#5089ab !important;
    padding-left:30px !important;
    font-weight: bold !important;
    font-family: arial !important;
    font-size: 26pt !important;
    margin-top:15px !important;
}
.selArrow {
    margin-top:10px !important;
    /*margin-right:20px !important;*/
}

.scanbar {
    height:175px !important;
    background-color:#8ca9bb !important;
    border-radius: 10px;
    border-color: #8ca9bb !important;
    /* james */ margin-top: 140px;
}
.scanbar:focus {background-color:#add2ea !important;}
.scanbar > .sapMBarLeft, .quesBar > .sapMBarLeft {
    width: 90% !important;
}
.scanLabel {
    /* james */margin-top:58px !important;
    color:#DDE5EB !important;
    padding-left:30px !important;
    font-weight: bold !important;
    font-family: arial !important;
    font-size: 48px !important;
    /* width: 80% !important;*/
    background-color:#8ca9bb !important;
    cursor: pointer !important;
    /*width: 100% !important;
     height: 66% !important;*/
}
.quesLabel {
    color:#DDE5EB !important;
    padding-left:30px !important;
    font-weight: bold !important;
    font-family: arial !important;
    font-size: 32px !important;
    /*width: 100% !important;*/
    background-color:#8ca9bb !important;
    margin-top: 25px !important;
    /*height: 69% !important;*/
}
.sapMPanelContent {
    border: none !important;
}
.canbtn {
    float: right;
    /* James */
    margin-bottom:80px !important;
    
    margin-top:50px !important;
    background-color: #546c7d !important;
    height: 77px !important;
    /*width: 150px !important;*/
    border-radius: 10px;
    overflow: hidden !important;
}

.canbtn > .sapMBtnInner {
    background-color: #546c7d !important;
    color:#fff !important;
    border-radius: 10px !important;
    font-size: 30px !important;
}
.procQsPanel {
    background-color: #a96018;
    color:white;
    text-transform: none;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.procQsPanelList {
    background-color: #8ca9bb;
    text-transform: none;
    font-weight: bold;
    
}
.procQsPanelListFinal {
    background-color: #a96018;
    color:white;
    text-transform: none;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.procQsPanel > .sapMPanelContent, .procQsPanelList > .sapMPanelContent, .procQsPanelListFinal > .sapMPanelContent, .eSignPanel > .sapMPanelContent,section#cancelPanel > .sapMPanelContent,#eSignPanelTxt > .sapMPanelContent {
    padding: 0 !important;
}
section#eSignPanel > .sapMPanelContent {
    padding: 0 !important;
    border-radius: 10px;
}

.sapMILILabel {
    max-width: 90% !important;
    color: #666666 !important;
    font-weight: normal !important;
    white-space: normal !important;
    font-family: Arial !important;
}
.sapMTB-Transparent-CTX .sapMText {
    text-shadow: none !important;
    /* James */
    font-size: 1.5em !important;
    font-weight: 700 !important
}
.eSignFld {
    margin-left:10px;
    margin-bottom: 10px;
}
.lcmaintile {
    width: 100% !important;
    height:100% !important;
    cursor: pointer !important;
}
.seqNo {
    
    width:130px;
    background-color:#546c7d;
    color:#Fdcc65;
    text-align: center !important;
    font-weight: bold;
    margin-top: 50px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    margin-left:10px;
    height: 80px;
    font-family: Arial !important;
    /* james */
    position: absolute;
    top: 105px;
    left:20px;
    font-size: 3.5em !important;
    
    /*width:100px;
     background-color:#F1EFEB;
     color:#e6d4c2;
     text-align: center !important;
     font-weight: bold;
     font-size: 2rem !important;
     margin-top: 50px;
     border-top-left-radius: 60px;
     border-top-right-radius: 60px;
     margin-left:5px;
     height: 55px;
     padding-top: 10px;*/
}
.seqNo2 {
    top:45px !important;
}
.seqNo5{
    top:75px !important;
}
/*
 #RGLYT {
 background-color: rgb(35, 35, 242);
 width:95%;
 margin-left:20px;
 margin-top:20px;
 }*/
h4#selForm--title.sapUiFormTitle.sapUiFormTitleH4 {
    color:white;
    background-color: rgb(15, 85, 142);
}
.sapMLabel,#barscan {
    /* color: black !important;*/
    /* James */
    /*font-size: 1.1em !important;*/
    
    font-weight: normal;
}

#selFormPanel {
    margin-left: 20px !important;
    margin-top:20px !important;
    background-color:rgb(13, 68, 177) !important;
}
#selFormPanel-header,#lcDocProcPanel-header {
    background-color:rgb(33, 33, 212);
    color:white;
    font-family: Arial;
    font-weight:bold;
    font-size:20px;
}
.sapUiFormResGrid>div, #lcBtn {
    background-color: transparent  !important;
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#lcStatus {
    background-color:transparent  !important;
    border-top: solid 1px white;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#lcBtn-BarRight {
    background-color:green;
}
#subBtn {
    color:white !important;
    font-weight:bold;
}
/*#canBtn {
 background-color:grey;
 color:white;
 }*/
#documentList,#lcDocProcPanel {
    margin-top:75px;
}
#documentList-header {
    background-color: rgb(133, 133, 239);
}
#documentList-listUl {
    border-radius: 10px;
}
#lcDocProcDetail {
    background-color: green;
}
.sapMPanelHdr {
    color: white !important;
    text-shadow: none !important;
    font-size: 15pt !important;
}
#infoTxt {
    background-color: white;
    padding: 10px;
    text-transform: lowercase;
    font-size: 0.95rem;
}





#remark, #esignlabel {
    color:blue;
    margin-top:10px;
    
}
#remTxtArea {
    width: 100%;
}
.eSignTxt1 {
    color: #dde5eb;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    font-size: 15pt !important;
    font-family: Arial !important;
}

.eSignTxt3 {
    color:#743C04;
    padding-left:10px;
    padding-bottom: 10px;
    font-size: 15pt !important;
    font-family: Arial !important;
}
#hLyt {
    padding-top: 20px;
}
div#hLyt label {
    color: blue !important;
    padding-right:3px;
}
.selBtnHdr > div {
    background-color: rgb(117, 117, 185) !important;
    font-weight: bold !important;
}
.lcTableTile,div#documentList > div > label {
    color: #FFF !important;
}
.crtBtn > div {
    background-color: rgb(54, 185, 54) !important;
}
div#documentList > div {
    background-color: rgb(117, 117, 185) !important;
}
#lcDocProcPanel > .sapMPanelHdr {
    background-color: rgb(117, 117, 185) !important;
}
/*
 #__item6,#__item10,#__item14 {
 background-color: #D2D9DC;
 }*/

/*#__panel0-CollapsedImg {
 background-color: rgb(189, 200, 207);
 }*/
.loginPageBkg {
    background: url(../img/nypro-lc-login-bk.jpg) 25px 0 no-repeat;
}

.loginUser {
    border-radius:5px;
}
.loginPwd {
    border-radius:5px;
    margin-top: 4rem;
}
.dialogPwd {
    border-radius:5px;
    margin-top: 0rem;
}
.dialogPwd > input,.dialogPwd > input {
    border-radius:5px;
    height: 50px !important;
    font-size: 20px;
}
.dialogTxt {
    font-size:20px;
    margin-left:10px;
}
.dialogLbl {
    font-size:20px;
}
.signDialogPanel > .sapMPanelBG.sapMPanelContent.sapMPanelExpandablePart{
    padding-top: 0px;
    padding-bottom: 0px !important;
}
.loginUser > input,.loginPwd > input {
    border-radius:5px;
    height: 79px !important;
    font-size: 32px;
}

.loginBtn {
    float: right;
    width:176px;
    margin-top: 5rem !important;
    height: 77px !important;
}
.loginBtn > div {
    border-radius:5px !important;
    background:none !important;
    color: #fff !important;
    height: 70px !important;
    background-color: #8ca9bb !important;
    border:none !important;
}
.loginBtn > div > span {
    line-height: 70px !important;
    font-size: 32pt !important;
    font-family: Arial !important;
}
.errorLine {
    margin-left: 10rem;
    margin-bottom: 1rem;
}
.errorText {
    padding-left: 10px;
    padding-top: 10px;
    font-family: Arial;
    font-size: 24px !important;
    color: #FDCC65 !important;
}
/*.loginBtn > div {
 margin-right: 1.67rem;
 margin-top: 2rem;
 }
 .loginBtn > div > span {
 color: black !important;
 }*/
.eSignHdrTxt {
    margin-bottom:20px;
    color:#dde5eb !important;
    font-family: Arial !important;
    font-weight: bold;
    font-size: 18px !important;
}
.sapUiVlt {
    display: block !important;
    margin: 20rem auto;
}
.sapMInputBaseInner {
    height: 3rem !important;
    /*color:#DDE5EB !important;*/
}
.sapMInputBasePlaceholder {
    font-size: 32px !important;
    /*color:#DDE5EB !important;*/
}
.lcTypeWinStyle {
    background-color: #8ca9bb !important;
    border-radius: 10px !important;
    border-color: #8ca9bb;
}
.lcTypeWinStyle > .sapMDialogSection {
    margin:10px;
    border-radius: 5px !important;
}
.lcTypeWinStyle > footer {
    height: 6rem !important;
}
.lcTypeWinStyle > .sapMIBar-CTX.sapMFooter-CTX {
    background-color: #8ca9bb !important;
}
.lcTBtn {
    background-color: #546c7d !important;
    border-radius: 5px;
}
#lcTWindow-title {
    font-size: 1.4rem !important;
    color: #dde5eb !important;
    font-family: Arial !important;
    text-transform: none;
    font-weight: bold !important;
}
#documentList > table > thead > tr > th, #documentList > table > tbody > tr > td {
    background-color: #8ca9bb !important;
}
#documentList > table > thead > tr > th > span, #documentList > table > tbody > tr > td > span {
    color: #DDE5EB !important;
}
.processDetBar {
    border-bottom-color: transparent !important;
}
.processDetBar > label, .processDetBar > span, .processDetBar > div {
    color: #8ca9bb !important;
}
#documentList > table > tbody > tr > .sapMListTblCell {
    border-bottom-color: transparent !important;
}
.firstSection {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 85px;
    position: relative;
}
.procQsPanelList > .sapMPanelWrappingDivTb > span {
    color:#546c7d !important;
}
.procQsPanelList > div > div > span {
    color: #dde5eb !important;
}
/* stanadard styles */
.sapMBtnIcon,.sapMPanelExpandableIcon {
    color:#fff !important;
    font-size: 15pt !important;
}
.sapMBar-CTX .sapMBtnContent > .sapUiIcon{color:#FFF;text-shadow:0 1px 0 rgba(255,255,255,0.5)}
.sapMGlobalBackgroundColor,.sapMGlobalBackgroundImage{background-color:transparent!important;background-image:none!important}
.sapMBtnInner,.sapMIBar-CTX .sapMBtnInner { text-shadow: none !important; }

.scanArrow >.sapMBtnDefault >.sapMBtnIcon {
    color: #546c7d !important;
    font-size: 85px !important;
    margin: 22px;
}
.selArrow >.sapMBtnDefault >.sapMBtnIcon {
    color: #546c7d !important;
    font-size: 60px !important;
    margin-right: 30px;
    margin-top: 10px;
}

.sapMBtnInner {
    border: none !important;
    background: none !important;
}
#eSignPanelTxt > div > .eDataLabel {
    margin-top: 40px !important;
}
.saveQsBtn {
    margin-bottom:0px !important;
    margin-top:0px !important;
    
}
.lcActivityTxt {
    color:#dde5eb;
    padding-left: 12px;
    font-family: Arial !important;
    font-size: 15pt !important;
}
.disableLCActivityText {
    color:#666666;
    padding-left: 12px;
    font-family: Arial !important;
    font-size: 15pt !important;
}
#eSignPanel > .sapMPanelContent > .sapMTB {
    border-bottom: none !important;
    height: 6rem !important;
}
.dialogBtn,footer > div > button {
    background-color: #546c7d !important;
    width: 130px;
    height: 60px !important;
    border-radius: 10px;
    margin-right: 15px !important;
}
.disableSignBtn {
    background-color: #666666 !important;
    width: 130px;
    height: 60px !important;
    border-radius: 10px;
    margin-right: 15px !important;
}

.dialogBtn > .sapMBtnInner {
    color: #fff;
    font-family: Arial;
    font-size: 20pt !important;
}

.disableSignBtn > .sapMBtnInner {
    color: #9a9a9a;
    font-family: Arial;
    font-size: 20pt !important;
}
.disableSignBtnSigned{
    width: auto;
}
.disableSignBtnSigned > .sapMBtnInner {
    color: #fff;
    font-family: Arial;
    font-size: 12pt !important;
}
.enableSignType {
    color:#dde5eb;
    padding-left:10px;
    font-weight: bold;
    font-size: 18pt !important;
    font-family: Arial !important;
}
.disableSignType {
    color:#666666;
    padding-left:10px;
    font-weight: bold;
    font-size: 18pt !important;
    font-family: Arial !important;
}
.eSignDialog {
    border-radius: 10px !important;
    border:none !important;
    height: 30rem !important;
    background-color: #8ca9bb;
}
.eSignDialog > header {
    display: none !important;
}
.eSignHdr {
    color:#dde5eb !important;
    font-family: Arial;
    /* James */
    font-size: 2em !important;
}
.eSignDialog > .sapMDialogSection {
    background-color: #8ca9bb !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.eSignRemark {
    color:#dde5eb !important;
    text-transform: none;
    font-family: Arial;
    font-size: 20px !important;
}
.remarkTextArea {
    margin-bottom: 20px;
}
.remarkTextArea > .sapMInputBaseInner {
    height: 10rem !important;
}
.eSignDialog > footer {
    height: 3.8rem !important;
    margin-top: 0.15rem !important;
}
.sapMSpinCanvas {
    width: 4rem !important;
    height: 4rem !important;
}
.sapMRbBLabel {
    color:#666666 !important;
    font-size: 1.125rem !important;
    font-family: Arial;
}
#lcTWindow-header-BarPH {
    padding-top: 0.3rem !important;
}
.sapMDialog {
    border-radius: 10px !important;
    background-color: #8ca9bb;
}
.sapMDialogSection {
    border-radius: 10px !important;
    margin: 0 10px;
}
.sapMMsgBoxText {
    font-size: 1.4rem !important;
    color:#666666 !important;
}
.noPoFound {
    font-size: 1.4rem !important;
    color:#666666 !important;
}
.sapMInputBasePlaceholder {
    font-size: 1.2rem !important;
}
.sapMInputBaseInner::-webkit-input-placeholder {
    
    font-size: 1.2rem !important;
}

.sapMInputBaseInner::-moz-placeholder {
    
    font-size: 1.2rem !important;
}

.sapMInputBaseInner:-ms-input-placeholder {
    
    font-size: 1.2rem !important;
}

.orTxt {
    color: #8ca9bb !important;
    /* James */
    font-size: 3em !important;
    letter-spacing: -0.025em !important;
    margin-top: 2.5rem !important;
    font-family: arial !important;
}
#inputPO {
    margin-top: 2.5rem;
}

#inputPO > input {
    background-color:#8ca9bb !important;
    border-radius: 10px;
    border-color: #8ca9bb !important;
    height: 4rem !important;
    font-size: 1.8rem;
    color:#DDE5EB !important;
    padding-left: 30px;
}
#inputPO > .sapMInputBaseInner {
    font-size: 1.8rem !important;
    color:#DDE5EB !important;
}
#inputPO > .sapMInputBaseInner::-webkit-input-placeholder {
    font-size: 1.8rem !important;
    color:#DDE5EB !important;
}
#inputPO >.sapMInputBaseInner::-moz-placeholder {
    font-size: 1.8rem !important;
    color:#DDE5EB !important;
}
#inputPO >.sapMInputBaseInner:-ms-input-placeholder {
    font-size: 1.8rem !important;
    color:#DDE5EB !important;
}
.scanSubmit {
    margin-top: 75px !important;
}
.sapMIBar>.sapMBarChild:last-child {
    margin-right:1rem !important;
}
#sPwd-inner {
    line-height: 3rem !important;
}
/* ALert btn style
 background-color: #546c7d !important;
 /* width: 130px; */
/* height: 60px !important;
 border-radius: 10px;
 margin-right: 9px !important;
 text-transform: none;
 */
.sapMSwtOff .sapMSwtHandle,.sapMSwtOn .sapMSwtHandle {
    background:#546c7d !important;
}
.sapMSwt {
    /* width: 5.5rem !important;*/
}
.sapMSwtOff {
    background: #dde5eb !important;
    border-color: #dde5eb !important;
}
.sapMSwtOn {
    background: #fdcc65 !important;
    border-color: #fdcc65 !important;
}
.sapMSwtOn .sapMSwtText {
    color:#666666 !important;
}
.sapMPanelWrappingDivTb {
    height: 3.5rem !important;
}
.sapMPanelWrappingDivTb>.sapMTB {
    padding-top: 0.5rem !important;
}
.scanContainer {
    margin-top: 140px;
    position: relative;
    height:175px !important;
    background-color:#8ca9bb !important;
    border-radius: 10px;
    border-color: #8ca9bb !important;
    /* james */margin-top:58px !important;
    color:#DDE5EB !important;
    padding-left:30px !important;
    font-weight: bold !important;
    font-family: arial !important;
    font-size: 48px !important;
    /* width: 80% !important;*/
    background-color:#8ca9bb !important;
    cursor: pointer !important;
}
.scanContainer:active ,.quesContainer:active{
    background: rgba(173,210,234,1) !important;
}
.scanText {
    width: 82%;
    float: left;
    padding-top:58px !important;
    text-transform: none;
}
.scanArrow {
    padding-top:58px !important;
    margin-right:40px !important;
    float: right;
}
.quesContainer {
    background-color:#8ca9bb !important;
    border-radius: 10px;
    border-color: #8ca9bb !important;
    height:90px !important;
    margin-top: 115px;
    position: relative;
    color:#DDE5EB !important;
    padding-left:30px !important;
    font-weight: bold !important;
    font-family: arial !important;
    font-size: 32px !important;
}
.quesText {
    width: 82%;
    float: left;
    padding-top:25px !important;
    text-transform: none;
}
.quesArrow {
    padding-top:20px !important;
    float: right;
    padding-right: 40px;
}

/* james - adjust to library.css */
.sapMPanelContent{position:relative}
.sapMText{font-size: 1.1em}
.sapMILI{height:auto !important; padding:1em !important}
.sapMTextArea>.sapMTextAreaInner{font-size: 1.1em}

/* radio button option
 #__vbox0 {
 height: 4.5rem;
 margin-bottom: 1rem;
 margin-right: 0.5rem !important;
 }
 #__toolbar1 {
 height: 6rem;
 }
 */
.footerPO {
    margin-left: 2rem !important;
}
.footerMat {
    margin-right: 4rem !important;
}
.lctypelist {
    float: right;
    margin-top: 1rem;
    margin-right: 0.75rem;
}
.lcTypeListBox {
    width: 14rem !important;
    /* border-radius: 1px solid blue !important; */
    border-radius: 8px !important;
    height: 3rem !important;
    background-color:#546c7d !important;
    color:#DDE5EB !important;
    border-color: #546c7d !important;
    margin:0px auto;
    float: right !important;
    margin-top: 3.0rem !important;
}
.lcTypeListBox > input {
    font-family: Arial !important;
    font-size: 0.95rem !important;
    /* margin left is causing problem with dropdown list *
     margin-left: 0.5rem !important; */
}
.lcTypeListBox > div {
    margin-top:0.8rem !important;
    /* background-image ----*/
}
.lcTypeListBoxQs {
    margin-top: 3.3rem !important;
}
.headPanelStyleQs{
    padding-left:35px;
}
.qAnsList {
    border-radius: 20px !important;
    height: 2.5rem !important;
    background-color:#546c7d !important;
    color:#DDE5EB !important;
    border-color: #546c7d !important;
    width:6rem !important;
}
.qAnsList > div {
    margin-top:0.5rem !important;
}
.qAnsList > input {
    font-family: Arial !important;
    font-size: 0.95rem !important;
}
.remark {
    width: 100% !important;
    margin-left: 1.1rem !important;
}
.remark > textarea {
    height: 7rem !important;
}
.remarkslabel {
    color:#dde5eb !important;
    font-size: 18pt !important;
    margin-left: 1.1rem !important;
    text-transform: none !important;
}


.lcTypeListBox > div {
    margin-top:0.9rem !important;
    margin-right: .425rem !important;
}

.sapUiTfBrd>.sapUiTfInner {
    padding:0 .2rem 0 .45rem !important;
}

.sapUiTfBrd.sapUiTfCombo  {
    padding:0 0 0 .4rem !important;
}

.sapUiTfCombo {
    font-size: 1.1rem !important;
}

.sapUiTfStd>.sapUiTfComboIcon{
    background: transparent url(../img/ComboBoxArrow.png) no-repeat 0 0 !important;
}


.sapMIBar-CTX.sapMFooter-CTX .sapMLabel, .sapMLabel, .sapMText {
    text-shadow: none !important;
    text-transform: capitalize;
}

#__label0, #__text3, #__text5 {
    /*color:#Fdcc65 !important;
    font-size: 1.1rem !important;*/
}


#__label4-cont0_0.sapUiRFLContainer, #__label5-cont0_0.sapUiRFLContainer {
    min-width: 80px !important;
    width: 10% !important;
}

#__text34-cont0_1.sapUiRFLContainer, #__text35-cont0_1.sapUiRFLContainer {
    min-width: 100px !important;
    width: 85% !important;
}

.sapUiSimpleForm, .sapMInputBase {
    margin-bottom: 1.1rem !important
}
.footerStyle {
    color:#Fdcc65 !important;
    font-size: 1.1rem !important;
}
