.spacerTop {
	margin-top: 2rem;
}
.bNotification {
float: right;
margin-right: 1rem;
}
.woDetailHdr {
    margin-bottom: -5.0rem;
    background-color: white;
    height: 10rem;
}
.detailWOVrtcl {
    width: 100%;
    background-color:white;
}
.detailWOVrtcl > div {
    margin-bottom: -2rem;
}
.sapUiHLayoutChildWrapper {
    width:90%;
}
.Vlyt {
    padding: 5px;
}
.attachment {
    padding: 10px;
}
.checklist {
    padding-top: 10px;
}
.sapUiRGLContainerCont {
border: solid 1px rgb(206, 206, 206);
background-color: white  !important;
padding: 2rem;
}
.settingsTitle, #Settings--uPref{
margin-top: 1rem;
}
#__app0-MasterBtn-inner {
    display: none;
}
