/* log in page */

.sap-phone .loginPageBkg {
    background: url(../img/image.jpg) 0 0 no-repeat;/*non-retina display*/
}

.sap-phone .sapUiVlt {
    margin: 9rem auto;
}

.sap-phone .loginUser > input, .sap-phone .loginPwd > input {
    height: 49px !important;
    font-size: 28px;
}

.sap-phone .sapMInputBase {
    padding: 0.15rem 0;
    height: .4rem;
}

.sap-phone .loginPwd {
    margin-top: 3rem;
}

.sap-phone .errorLine {
    margin-left: 0;
}

.sap-phone .errorText {
    font-size: 14px !important;
}

.sap-phone .loginBtn > div {
    height: 50px !important;
}

.sap-phone .loginBtn > div > span {
    line-height: 50px !important;
    font-size: 1.8em !important;
}

.sap-phone .loginBtn {
    width:146px;
    margin-top: 4.5rem !important;
}

.sap-phone .nyLogo {
    width: 65% !important;
}

/* Page 1 */

.sap-phone .welHdr {
    font-size: .8em !important;
}

.sap-phone .sapMIBar .sapMBarChild {
    margin-left:0
}

.sap-phone #mainPanel, #poDetailPanel{
    margin-left:8px;
    margin-top:10px;
}

.sap-phone .sapMPanelContent {
    padding: .5rem;
}

.sap-phone .eDataLabel {
    font-size: 2em !important;
}

.sap-phone .seqNo{
    width:80px;
    margin-top: 0px;
    margin-left:5px;
    height: 80px;
    font-family: Arial !important;
    top: 50px;
    left:20px;
    font-size: 2.5em !important;
}

.sap-phone .scanContainer {
    height:80px !important;
    margin-top:48px !important;
    padding-left:20px !important;
    font-size: 48px !important;
}

.sap-phone .scanContainer {
    font-size: 1.35em !important;
}

.sap-phone .scanArrow {
    padding-top:18px !important;
    margin-right:15px !important;
    width: 10%
}

.sap-phone .scanText {
    padding-top:26px !important;
}

.sap-phone .orTxt {
    font-size: 1.5em !important;
    letter-spacing: -0.005em !important;
    margin-top: .5rem !important;
}

.sap-phone #inputPO {
    margin-top: .5rem;
    padding-left: 0;
}

.sap-phone #inputPO > input {
    height: 3rem !important;
    padding-left: 1rem;
}

.sap-phone #inputPO > .sapMInputBaseInner {
    font-size: 1.25rem !important;
    line-height: 1.25rem;
}

.sap-phone .scanSubmit {
    margin-top: 65px !important;
}

.sap-phone .canbtn {
    height: 50px !important;
}

.sap-phone .canbtn > .sapMBtnInner {
    font-size: 1.8em !important;
}

/* modal 1 */

.sap-phone #lcTWindow-title {
    font-size: 1.1rem !important;
}

.sap-phone .sapUiPopupWithPadding .sapMDialogScrollCont {
    padding:.25rem;
}

.sap-phone .sapMRbB {
    font-size: .75rem;
    height: 2.25rem;
    width: 2.25rem;
}

.sap-phone .sapMRbBLabel {
    line-height: 2.75rem;
    height: 2.5rem;
    font-size: 1rem !important;
}

.sap-phone .sapMDialog>footer.sapMDialogActions {
    border-top: none;
    padding: 0;
}

.sap-phone .dialogBtn {
    height: 52px !important;
    margin-right: 10px !important;
}

.sap-phone .dialogBtn > .sapMBtnInner {
    font-size: 1rem !important;
}

.sap-phone div#lcTWindow.lcTypeWinStyle.sapMDialog.sapMDialog-CTX.sapMDialogPhone.sapMPopup-CTX.sapUiPopupWithPadding.sapUiShd {
    width: 272px;
    left: 32px;
}

/* modal 2 */

.sap-phone .sapMMessageDialog .sapMDialogScrollCont {
    padding: .75rem;
}

.sap-phone .sapMMsgBoxText {
    font-size: 1.2rem !important;
}

/* page 2 */

.sap-phone .seqNo2 {
    top:60px !important;
}

.sap-phone #documentList, #lcDocProcPanel {
    margin-top:60px;
}

.sap-phone .sapMListTbl .sapMText {
    font-size: 1.25em !important;
}

.sap-phone .sapMListTblSubCntValBlock{
    display:inline-block;
}

.sap-phone .sapMListTblSubCnt {
    padding: 0 1rem .5rem;
}

.sap-phone .quesContainer {
    height:55px !important;
    margin-top: 48px;
    padding-left:1.125rem !important;
    font-size: 1.1rem !important;
}

.sap-phone .quesArrow {
    padding-top:10px !important;
    padding-right: 10px;
    width: 7%;
}

.sap-phone .seqNo3 {
    top:355px !important;
}

.sap-phone .sapMListTblSubCntValBlock {
    margin-top: .1rem;
}

.sap-phone .sapMListTblSubCntSpr {
    font-size:1.05rem;
    padding-left:.15rem;
    
}

.sap-phone .sapMLabel.sapMLabelTBHeader {
    font-size: .6rem;
}

.sap-phone .sapMText {
    font-size: .6rem;
}

.sap-phone .quesText {
    padding-top:15px !important;
}

.sap-phone .canbtn {
    margin-top:50px !important;
}

/* page 3 */

.sap-phone #poQslPanel {
    margin-top: 10px !important;
    margin-left:8px !important;
}

.sap-phone .sap-phone .eDataLabel {
    line-height: 1.75rem;
}

.sap-phone .seqNo4 {
    top: 95px !important;
}

.sap-phone .firstSection {
    margin-top: 53px;
}

.sap-phone .sapMTB-Transparent-CTX .sapMText {
    font-size: 1rem !important;
}

.sap-phone .sapMILI {
    padding: .7em !important;
}

.sap-phone .sapMILILabel {
    font-size: .95rem;
}

.sap-phone #eSignPanelTxt {
    margin-left:20px !important;
    margin-top: 60px !important;
}

.sap-phone .seqNo5 {
    top: 133px !important;
    left: 5px !important;
}

.sap-phone #eSignPanel {
    margin-left:15px !important;
    margin-top: 60px !important;
}

.sap-phone .eSignTxt1 {
    font-size: 1rem !important;
}

.sap-phone #__button11 {
    margin-top: 20px !important;
}

.sap-phone #__button12 {
    margin-top: 30px !important;
}

.sap-phone {
    
}



