<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.sap.mp.cordova.plugins.odata" version="3.5.5">
    <name>OData</name>
    <description>OData Plugin</description>
    
    <dependency id="com.sap.mp.cordova.plugins.corelibs"/>
    <dependency id="com.sap.mp.cordova.plugins.authproxy" />
    
    <js-module src="www/OData.js" name="OData">
        <clobbers target="window.sap.OData"/>
    </js-module>
    <js-module src="www/OfflineStore.js" name="OfflineStore">
        <clobbers target="window.sap.OfflineStore"/>
    </js-module>
    <platform name="android">
        <source-file target-dir="libs" src="android/libs/ODataAPI-3.5.3.jar" />
        <source-file target-dir="libs" src="android/libs/ODataOffline-16.5.0-1239.jar" />
        <source-file target-dir="libs/armeabi-v7a" src="android/libs/armeabi-v7a/libodataofflinejni.so" />
        <source-file target-dir="libs/armeabi-v7a" src="android/libs/armeabi-v7a/libmlcrsa16.so" />
        <source-file target-dir="libs" src="android/libs/odata-android-3.5.5.jar" />
        
        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="OData">
        		<param name="android-package" value="com.sap.mp.cordova.plugins.odata.OData"/>
        	</feature>
        </config-file>
    </platform>
    <platform name="ios">
		<config-file target="config.xml" parent="/widget">
            <feature name="OData">
                <param name="ios-package" value="SMPODataPlugin" />
            </feature>
		</config-file>
        
        <source-file framework="true" src="ios/libs/libODataAPI.a"/>
        <source-file framework="true" src="ios/libs/libODataOffline.a"/>
        <source-file framework="true" src="ios/libs/libSMPODataPlugin.a"/>
    </platform>
</plugin>
