<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.sap.mp.cordova.plugins.i18n"
    version="3.5.5">

    <name>i18n</name>
    
	<js-module name="i18n" src="www/i18n.js">
	</js-module>
    
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/widget">
			<feature name="i18n">
				<param name="android-package" value="com.sap.mp.cordova.plugins.i18n.I18N"/>
			</feature>
		</config-file>
		<source-file src="android/libs/i18n-android-3.5.5.jar" target-dir="libs"/>
	</platform>
	<platform name="ios">
		<config-file target="config.xml" parent="/widget">
			<feature name="i18n">
				<param name="ios-package" value="SMPI18nPlugin"/>
			</feature>
		</config-file>
		<source-file framework="true" src="ios/libs/libSMPI18nPlugin.a"/>
	</platform>
</plugin>
