<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.slb.mobile" version="01.00.00" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>EAMMobApp</name>
  <description>Enterprise Assest Management Mobile Application</description>
  <author email="dev@sap.com" href="http://www.sap.com">SAP Product and Innovation</author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="sap-development-version" value="01.01.00"/>
  <preference name="hybridapprevision" value="1"/>
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  <preference name="StatusBarStyle" value="lightcontent" />
  <preference name="SAPKapselHandleHttpRequests" value="true" />
</widget>