<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.sap.mp.cordova.plugins.xhook" version="3.5.5">

<name>Xhook</name>
    
    <js-module name="Xhook" src="www/xhooks.js">
        <clobbers target="sap.Xhook"/>
    </js-module>
   
</plugin>
